<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Article Evaluation</title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="wrapper">
        <h1>Evaluate a news article!</h1>

        <main>
            <section class="left-col">
                <h2>Analyze Setup</h2>
                <form action="/" method="post">
                    <label for="input">URL</label>
                    <input id="name" type="text" name="urlInput" placeholder="Enter an URL" required>
                    <button type="submit" id="generate" class="cta">Submit</button>
                </form>
            </section>

            <section class="right-col">
                <p><strong>Results:</strong></p>
                <div id="results">
                    <p> Agreement: <%= agreementRes %></p>
                    <p> Confidence: <%= confidenceRes %></p>
                    <p> Score tag: <%= scoreTagRes %></p>
                    <p> Subjectivity: <%= subjectivityRes %></p>
                    <p> Irony: <%= ironyRes %></p>
                </div>
            </section>
        </main>

        <footer>
            <p class="footer-fineprint">&copy; <span id="year"> </span> | Made with <span aria-label="love" role="image">&#128150;</span> by
                Hugonin</p>
        </footer>

    </div>

    <script src="app.js" type="text/javascript"></script>




</body>

</html>